*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  body{
    font-family: 'Abril Fatface', cursive;
  }

  main{
    padding-top: 100px;
  
  }
  nav{
    
    height: 80px;
    width: 100%;
    box-shadow: 0px 0px 24px 2px rgba(0,0,0,0.52);
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    
  }

  .headernav{
    background: #f51a1a;
    position: fixed;
    z-index: 1;
  }
  
  
  .logo{
    color: white;
    font-size: 40px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
    font-family: 'Playball', cursive;
  }

  nav ul{
    float: right;
    margin-right: 10px;
  }

  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
  }

  nav ul li a {
    color:white;
    font-size: 17px;
    padding: 5px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    
  }

  a.active,a:hover{
    background:white;
    transition: .5s;
    color: black;
    border-radius: 7px; }

  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }

  main{
     width: 80vw;
     margin: auto;
     text-align: center;
  }

  .headline{
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 30px;
      box-shadow: 0px 9px 8px 0px rgba(0,0,0,0.54);
      border-radius: 5px;
      font-family: 'Niconne', cursive;
      
  }

 .carousel{
  box-shadow:0px 0px 13px 6px #000000; 
  border-radius: 10px;
  margin-bottom: 50px;
  z-index: 0;
  height: auto;
 }

 img{
  border-radius: 10px;
  
}
.carousel-item img {
    width: 100%;
}

  .footernav, ol
  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(136, 136, 136);
    color: black; 
  }

  .footerol
  {
    width: 30%;
  }

  .footerol li a, .ML a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
}


  @media (max-width: 980px){
    label.logo{
      font-size: 25px;
      padding-left: 30px;
    }
    nav ul li a{
      font-size: 14px;
      }
    }


  @media (max-width: 770px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #979797;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      opacity: 0.98;
    }
  

    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    
    }
    nav ul li a{
      font-size: 20px;
      color: white;
    }

    a:hover {
      background: white;
      color: black;
    }


    #check:checked ~ ul{
      left: 0;
    }
  }

  
